<a 
    href="javascript:void(0);"
    class="list-group-item clearfix"  
    (click)="onRecipeItemClicked()" #recipeItem>
    <div class="pull-left">
        <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
        <p class="list-group-item-text">{{ recipe.description }}</p>
    </div>
    <span class="pull-right">
        <img src="{{ recipe.imagePath }}"
            alt="recipe.name"
            class="img-responsive" 
            style="max-height: 50px;">
    </span>        
 </a>

 <!-- in this we use @input because we want to pass recipe object value from parent component  -->
 <!-- we can't use @contentchild because @contentchild generally use with <ng-content> and here
     no need to use <ng-content> 2nd reson is it is generally use as @viewchild
 -->